.careers-container{
    gap: 30px;
}
.careers-box{
    background: rgba(255, 255, 255, 1);
    border: 2px solid rgba(245, 246, 247, 1);
    border-radius: 30px;
    padding: 30px 60px 30px 30px;
    gap: 30px;
}
.careers-box-left-content h3{
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
}
.careers-box-left-content p{
    color: rgba(34, 34, 34, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 15px 0 20px 0;
}





.get-a-quote-btn {
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    background: #000;
    width: 161px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    border: none;
    outline: none;
}
.apply-now-btn {
    width: 149px;
}
.get-a-quote-btn::before, .get-a-quote-btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(0, 208, 97, 1);
    transition: 0.3s ease;
}
.get-a-quote-btn::before {
    left: 0;
}
.get-a-quote-btn span {
    position: relative;
    z-index: 5;
}
.get-a-quote-btn::after {
    right: 0;
}
.get-a-quote-btn::before, .get-a-quote-btn::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background: rgba(0, 208, 97, 1);
    transition: 0.3s ease;
}